# Node modules directory
node_modules

# Environment variables file
.env

# Ignore all image files in public/Images directory
public/Images/*.jpeg
public/Images/*.jpg
public/Images/*.webp
public/Images/*.avif
public/Images/*.png