.welcome-container{
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.54);
  border-bottom: 5px solid #63d7b0;
  border-radius: 20px;
}

.welcome-logo{
height: 20vw;
}







